* {
    box-sizing: border-box;
  }
  
  body {
    font-family: $base-font;
  }
  
  img {
    max-width: 50%;
    height: auto;
  }
  
  .wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right, $bg-lightgreen, $bg-green);
    display: flex;
    justify-content: center;
    align-items: center;
  }
