//body background colors:
$bg-sky: #57A0D3;
$bg-lightblue: #89CFF0;

// widget colors:
$widget-navy: #05386B;
$widget-grey: #EDF5E1;
$widget-shadow: 0 0 4px rgba(0,0,0, 0.9);

//text colors:
$text-blue: #21268e;
